jobs:
  release:
    env:
      GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: cycjimmy/semantic-release-action@v2.1.3
        with:
          branch: main
          extra_plugins: |
            @semantic-release/changelog
            @semantic-release/git
"on":
  push:
    branches:
      - main
